<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,700;1,400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<ul class="menu">
				<li class="menu-list"><a href="{%url "contacts" %}" class="menu-link">CONTACTS</a></li>
				<li class="menu-list"><a href="{% url "corona" %}" class="menu-link">CORONAVIRUS</a></li>
				<li class="menu-list"><a href="#" class="menu-link menu-link-active">HOME</a></li>
			</ul>
			<form class="form" action="{% url "s_result" %}" method="post">
				{% csrf_token %}
				<input type="text" class="input" placeholder="Искать здесь..." name="search_field">
				<button type="submit"></button>
			</form>
		</div>
		<hr>
		<div class="test">
			<div class="test-text padding-site">
				<p class="test1">тест</p>
				<h2 class="test-h2">еще не выбрали породу?</h2>
				<p class="test-content">Сравните характеристики, выберите темперамент, потребности и узнайте, какой породы будет ваш любимец</p>
				<a href="{% url "test" %}" class="button">узнать</a>
			</div>
		</div>

		<div class="hello-text">
			<h2 class="hello-h2">Ознакомьтесь с великолепными породами</h2>
			<h3 class="hello-h3">Получите экспертную информацию о темпераменте и потребностях различных пород кошек. Прокрутите страницу или воспользуйтесь поиском, чтобы найти нужную вам породу.</h3>
		</div>

		<div class="buttons">
		{% for wool in wooltype_list%}
			<a href="{{ wool.get_absolute_url }}"class="{{ wool.text_style }}">{{ wool.name }}</a>
		{% endfor %}
		</div>
	</div>
	<div class="footer">
		<p>Все права защищены &copy;</p>
	</div>
</body>
</html>