* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
}
.container {
	margin: 0 auto;
	width: 1319px;
}
.header {
	height: 100px;
	width: 1319px;
}
.menu-list {
	list-style-type: none;
	float: right;
	margin-top: 40px;
	display: inline-block;
	width: 150px;
	font-size: 18px;
	text-align: center;
}
.menu-link {
	color: grey;
	text-decoration: none;
	font-weight: 500;
}
	.menu-link:hover {
		color: lawngreen;
		text-decoration: none;
		font-weight: 500;
	}
.menu-link-active {
	color: green;
	font-weight: 700;
	border-bottom: 3px solid green;
}
	.menu-link-active:hover {
		color: lawngreen;
		font-weight: 700;
		border-bottom: 3px solid lawngreen;
	}
	.test {
		height: 400px;
		background-image: url(/../static/images/cat3.bmp.png);
		margin: 0 auto;
	}
.test1 {
	color: #4aae22;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 10px;
}
.test-h2 {
	color:ghostwhite;
	font-size: 40px;
	font-weight: 100;
	text-transform: uppercase;
	margin-top: 10px;
}
.test-content {
	color: gainsboro;
	font-size: 20px;
	font-weight: 400;
	margin-top: 20px;
}
.button {
	color: #212121;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
	border-radius: 23px;
	background-color: azure;
	width: 200px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 3.6px;
	margin-top: 30px;
}
	.button:hover {
		background-color:beige;
	}
	clearfix:after {
		content: "";
		display: table;
		clear: both;
	}
.test-text {
	float: right;
	width: 550px;
	height: 50px;
	display: inline-block;
	margin-top: 50px;
}
.padding-site {
	padding-left: 50px;
	padding-right: 50px;
}
.hello-h2 {
	text-align: center;
	color: green;
	font-size: 30px;
	font-weight: 600;
	margin-top: 10px;
}
.hello-h3 {
	text-align: center;
	color: #212121;
	font-size: 14px;
	font-weight: 500;
	margin-top: 30px;
}
.hello-text {
	margin: 0 auto;
	height: 130px;
	display: inline-block;
	margin-top: 50px;
}
.nav {
	float: left;
	margin-top: 15px;
	display: inline-block;
	width: 100%;
	height: 50px;
	font-size: 18px;
}
.nav-text {
	color: grey;
	text-decoration: none;
	font-weight: 600;
}
	.nav-text:hover {
		color: #3a3a3a;
	}
.main {
	width: 100%;
	height: 500px;
	border-bottom: 5px solid #f5f5f5;
}
.about {
	margin-top: 10px;
	width: 1319px;
	height: 600px;
	float: left;
	margin-bottom: 20px;
}
.photo {
	width: 600px;
	height: 400px;
	display: inline-block;
	margin-top: 10px;
	float: left;
}
.main-text {
	display: inline-block;
	width: 600px;
	height: 400px;
	margin-top: 150px;
	margin-left: 100px;
	font-size: 35px;
	font-weight: 500;
	color: forestgreen;
}
.block {
	width: 435px;
	height: 600px;
	float: left;
	margin-top: 30px;
}
.nameof {
	text-align: center;
	width: 435px;
	height: 50px;
	color: seagreen;
	display: inline-block;
	font-size: 22px;
	text-align: center;
	font-weight: 600;
}
.block-character {
	float: left;
}
.list-character {
	list-style-type: none;
	margin-left: 20px;
}
.block-list {
	margin-bottom: 5px;
}
.block-other {
}
.footer {
	background-color: gainsboro;
	height: 50px;
	clear: both;
	margin-top: 50px;
}

	.footer p {
		float: right;
		margin-right: 5px;
		margin-top: 5px;
	}

.b-none {
	color: #00b91d;
	margin-left: 120px;
}
.b-short {
	color: #009835;
	margin-left: 60px;
}
.b-long {
	color: green;
	margin-left: 60px;
}
.button2 {
	font-size: 16px;
	font-weight: 600;
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
	border-radius: 23px;
	background-color: whitesmoke;

	text-transform: uppercase;
	width: 300px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 3.6px;
	margin-top: 30px;
}
	.button2:hover {
		background-color: gainsboro;
	}
.buttons {
	margin-bottom: 30px;
}
.catalog-main-text {
	text-align: center;
	color: green;
	font-size: 30px;
	font-weight: 400;
	margin-top: 50px;
}
.example {
	margin-left: 25px;
	margin-top: 50px;
	float: left;
	width: 300px;
	height: 300px;
	outline: 1px solid gainsboro;
}
.e-photo {
	width: 300px;
	height: 270px;
}
.e-ph-text {
	margin-top: 5px;
	text-align: center;
}
.example1 {
	margin-top: 100px;
	cursor: pointer
}
.e-photo-tonk {
	height: 260px;
	width: 300px;
}
.e-ph-text-tonk {
	margin-top: 10px;
	text-align: center;
}
.e-photo-neva {
	width: 300px;
	height: 250px;
	margin-top: 20px;
}
.c {
	margin: 0 auto;
	height: 50px;
	margin-top: 50px;
	width: 100%;
}
.c-text {
	color: #b61f00;
	font-size: 30px;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 10px;
}
.c-hello {
	color: #173b13;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}
.c-p {
	text-align: center;
	color: green;
	font-size: 20px;
	font-weight: 400;
	margin-top: 10px;
	display: inline-block;
}
.c-main, c-1 {
	margin: 0 auto;
	height: 150px;
	margin-top: 25px;
	width: 100%;
}
.c-11 {
	text-align: center;
	color: #13550e;
	font-size: 19px;
	font-weight: 700;
	margin-top: 75px;
}
.c-12 {
	text-align: left;
	color: green;
	font-size: 20px;
	font-weight: 600;
	margin-top: 50px;
}
.c-13 {
	text-align: left;
	color: #17800a;
	font-size: 20px;
	font-weight: 400;
	margin-top: 10px;
}
.ver2 {
	text-align: right;
}
.adress {
	text-align: left;
	color: #17800a;
	font-size: 18px;
	font-weight: 400;
	margin-top: 75px;
	margin-bottom: 50px;
}
	.adress ul li {
		text-align: left;
		color: #17800a;
		font-size: 16px;
		font-weight: 400;
		margin-top: 10px;
		margin-left: 10px;
	}
		.adress ul li ul li {
			margin-left: 20px;
		}
.h2-test {
	text-align: center;
	color: green;
	font-size: 25px;
	font-weight: 600;
	margin-top: 75px;
}
.h3-test-11 {
	text-align: center;
	color: #28481b;
	font-size: 18px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 25px;
}
.h3-test-1 {
	text-align: center;
	color: black;
	font-size: 20px;
	font-weight: 500;
	margin-top: 100px;
	margin-bottom: 30px;
}
.h4-test {
	text-align: center;
	color: #3a3a3a;
	font-size: 18px;
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 25px;
	
}
.answer {
	text-align: center;
	color: #28481b;
	font-size: 14px;
	font-weight: 600;
	margin-top: 130px;
	margin-right: 150px;
}
.ask1 {
	margin-left: 450px;
	width: 600px;
	height: 1px;
	margin-right: 150px;
}
.picture1 {
	width: 300px;
	height: 300px;
	float: left;
	margin-top: 10px;
	margin-left: 100px;
}
.picture2 {
	width: 400px;
	height: 300px;
	float: right;
}
.class1 {
	width: 100%;
	height: 400px;
}
.h3-test {
	text-align: center;
	color: black;
	font-size: 20px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 30px;
}
.answer2-1 {
	text-align: center;
	color: #28481b;
	font-size: 14px;
	font-weight: 600;
	margin-top: 120px;
	margin-right: 10px;
}
.answer2 {
	text-align: center;
	color: #28481b;
	font-size: 14px;
	font-weight: 600;
	margin-top: 15px;
	margin-right: 10px;
}
.picture1-1 {
	width: 350px;
	height: 250px;
	float: left;
	margin-top: 30px;
	margin-left: 40px;
}
.picture2-1 {
	width: 300px;
	height: 300px;
	float: right;
	margin-right: 40px;
}
.picture3 {
	width: 400px;
	height: 250px;
	float: left;
	margin-top: 30px;
	margin-left: 40px;
}
.picture4 {
	width: 450px;
	height: 300px;
	float: right;
	margin-right: 30px;
}
.picture5 {
	width: 400px;
	height: 280px;
	float: left;
	margin-top: 40px;
}
.picture6 {
	width: 300px;
	height: 340px;
	float: right;
	margin-right: 100px;
}
.picture7 {
	width: 400px;
	height: 300px;
	float: left;
	margin-top: 40px;
}
.picture8 {
	width: 390px;
	height: 270px;
	float: left;
	margin-top: 20px;
}
.inn {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 23px;
	width: 200px;
	height: 40px;
	margin: 0 auto;
	display: inline-block;
	letter-spacing: 3.6px;
	margin-left: 561px;
	background-color: white;
	margin-top: 30px;
}
.photo_birma {
	width: 400px;
	height: 400px;
	display: inline-block;
	margin-top: 10px;
	float: left;
	margin-left: 30px;
}
.photo-angor {
	width: 500px;
	height: 380px;
	display: inline-block;
	margin-top: 10px;
	float: left;
	margin-left: 30px;
}
.photo-norv {
	width: 450px;
	height: 425px;
	display: inline-block;
	float: left;
	margin-left: 30px;
}
.e-photo-reks {
	width: 300px;
	height: 230px;
	margin-top: 30px;
}
.photo-reks {
	width: 500px;
	height: 425px;
	display: inline-block;
	float: left;
	margin-left: 30px;
}
.example2 {
	margin-bottom: 30px;
}
.e-photo-elf {
	width: 300px;
	height: 230px;
	margin-top: 30px;
	margin-left: 30px;
}
.e-photo-bambino {
	width: 250px;
	height: 240px;
	margin-left: 30px;
	margin-top: 20px;
}
.photo-bambino {
	width: 380px;
	height: 425px;
	display: inline-block;
	float: left;
	margin-left: 100px;
}
.photo-canada {
	width: 380px;
	height: 390px;
	display: inline-block;
	float: left;
	margin-left: 100px;
}
.photo-brit {
	width: 380px;
	height: 400px;
	display: inline-block;
	float: left;
	margin-left: 100px;
}

.logo {
	float: left;
	}
	
	* {
		box-sizing: border-box;
	}
	
	.form {
		position: relative;
		width: 300px;
		margin: 0 auto;
		height: 42px;
		float:right;
		margin-right:5px;
	}
	
	.input {
		height: 42px;
		width: 0;
		padding: 0 42px 0 15px;
		border: none;
		border-bottom: 2px solid transparent;
		outline: none;
		background: transparent;
		transition: .4s cubic-bezier(0, 0.8, 0, 1);
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		margin-top: 40px;
		display: inline-block;
	}
	
		.input:focus {
			width: 300px;
			z-index: 1;
			border-bottom: 2px solid #F9F0DA;
			line-height: 50px;
		}
	
	button {
		background: #baa955;
		border: none;
		height: 35px;
		width: 35px;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		margin-top: 38px;
		float: right;
		margin-right: 10px;
		box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
		border-radius: 23px;
	}
	
		button:before {
			content: "\f002";
			font-family: FontAwesome;
			font-size: 14px;
			color: #F9F0DA;
		}
	