<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,700;1,400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<ul class="menu">
				<li class="menu-list"><a href="{% url "contacts" %}" class="menu-link">CONTACTS</a></li>
				<li class="menu-list"><a href="#" class="menu-link">CORONAVIRUS</a></li>
				<li class="menu-list"><a href="{% url "home" %}" class="menu-link menu-link-active">HOME</a></li>
			</ul>
			<form class="form" action="{% url "s_result" %}" method="post">
				{% csrf_token %}
				<input type="text" class="input" placeholder="Искать здесь..." name="search_field">
				<button type="submit"></button>
			</form>
		</div>
		<hr>
		<div class="c">
			<div class="c-text">О коронавирусе</div>
		</div>
		<div class="c-main">
			<h1 class="c-hello">Важная информация!</h1>
			<p class="c-p">Текущая вспышка COVID-19 – результат передачи вируса от человека к человеку. Согласно данным Всемирной организации по охране здоровья животных (OIE) на данный момент не существует подтверждений того, что домашние животные принимают участие в распространении COVID-19. Ситуация быстро развивается, и наиболее актуальную информацию по этой теме можно найти на сайтах OIE или WSAVA (Международная ветеринарная ассоциация мелких животных).</p>
		</div>
		<div class=" c-1">
			<h1 class="c-11">Вот еще советы как можно обезопасить животных</h1>
			<h2 class="c-12">Не допускайте обезвоживания</h2>
			<p class="c-13">Обеспечьте вашим питомцам постоянный доступ к чистой питьевой воде.</p>
		</div>
		<div class=" c-2">
			<h2 class="c-12 ver2">Поддержите потребности питомца в питательных веществах</h2>
			<p class="c-13 ver2">
				Обеспечьте своему питомцу питание, соответствующее его индивидуальным потребностям (это особенно важно для животных, которым предписана специальная ветеринарная диета).
				Пожалуйста, позаботьтесь о достаточном запасе корма и наличие нужного продукта уточняйте в привычном для Вас магазине.
			</p>
		</div>
		<div class=" c-2">
			<h2 class="c-12">Соблюдайте безопасность на прогулке с собакой</h2>
			<p class="c-13">
				Обеспечьте собаке достаточное количество прогулок на улице, не нарушая предписаний государственных органов. Во время прогулки с собакой соблюдайте правило «социальной дистанции» в отношении других людей и животных.
			</p>
		</div>
		<div class=" c-2">
			<h2 class="c-12 ver2">Соблюдайте гигиену</h2>
			<p class="c-13 ver2">
				Всегда соблюдайте правила общей гигиены. Для вас это означает тщательное и правильное мытье рук после контакта с животным, мытье мисок питомцев, а также поверхностей, с которыми они контактировали. Что касается самих животных, то их (включая лапы) можно мыть только водой с мягким мылом или специальным подходящим для них шампунем. Никогда не используйте агрессивные моющие средства на основе хлора или спирта – они могут нанести вред здоровью питомца, в том числе при слизывании.
			</p>
		</div>
		<div class=" c-2">
			<h2 class="c-12">При заражении ограничьте контакт с животными</h2>
			<p class="c-13">
				Если у вас подозревается или подтвержден COVID-19, и вы находитесь дома на лечении или карантине, избегайте близкого контакта с вашим питомцем. Если вам некому поручить заботу о животном, при уходе за ним соблюдайте требования гигиены и, если это возможно, носите маску.
			</p>
		</div>
	</div>
	<div class="footer">
		<p>Все права защищены &copy;</p>
	</div>
</body>
</html>